<!doctype html>
<html lang="en" ng-app="yourcall:app" ng-controller="MainCtrl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ask a question. Let you friends vote and decide!">

    <link rel="stylesheet" href="../css/style.min.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <title>Your Call.io - admin:all questions</title>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-cookies.js"></script>

    <script src="../js/all.min.js"></script>
</head>
<body>

  <div class="admin-table" ng-controller="AllCtrl">
    <h2>All questions</h2>
    <h3>{{questions.length}}</h3>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Creator</th>
          <th>Date</th>
          <th>Option 1</th>
          <th>Option 2</th>
          <th>Private?</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="question in questions">
          <td><a ng-href="/{{question.url}}">{{question.title}}</a></td>
          <td>{{question.creator}}</td>
          <td>{{question.date | date}}</td>
          <td>{{question.option_1}}</td>
          <td>{{question.option_2}}</td>
          <td>{{question.isPrivate}} <a ng-href="/api/QHVNaLzGYZoUwY3A202Ia5G4S5vPtg/{{question._id}}" ng-show="!question.isPrivate">Make</a></td>
          <td><a href="" ng-href="/api/xn7qW7bSErR53kxBeRPbzD0JNtyE5b/{{question._id}}">X</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <footer>
      <div class="container">
          
          <p><a href="https://twitter.com/cfjsvarden">Jonathan Svärdén</a>, 2014</p>
          <!--<p>Built with <em>❤</em> on the <a href="http://mean.io/" target="_blank">MEAN</a> stack.</p>-->
          <p>Made in Cape Town.</p>
          
      </div>
  </footer>
</body>
</html>