/* ==========================================================================
   Colors
   ========================================================================== */

$placeholderColor: rgba(255,255,255,.8);
$option1Color: dodgerblue;
$option1ColorHover: #49A7FF;
$option2Color: #EAEA3A;
$option2ColorHover: #FFEF7A;