<header>
    <div class="logo" ng-show="fjlsd">
        
    </div>
    <div class="add-link">
        <a class="button" href="/ask">Ask a question</a>
    </div>
    <div class="slide-container">
        <div class="question slide">
            <h1 ng-hide="question">Loading...</h1>
            <h1 ng-show="question">{{question.title}}</h1>
        </div>
    </div>
    <div class="info">
        Asked by {{question.creator}} on {{question.date | date}}, {{question.option_1_votes + question.option_2_votes}} votes.
        <div class="header-buttons">
            <a class="tweet-link button-small" target="_blank" ng-href="https://twitter.com/share?text=Your+call:+{{question.title}}&hashtags=yourcall">Tweet</a>
            <a class="alert button-small" href="" ng-click="reportQuestion(question._id)">{{reportMessage}}</a>
            <a class="warning button-small" href="" ng-click="deleteQuestion(question._id)" ng-show="ownedQuestion">{{deleteMessage}}</a>
        </div>
    </div>
</header>

<div class="option-wrapper" ng-click="vote(question, 1)" slide-graph voted="{{question.hasVoted}}">
    <div class="option option-1"></div>
    <div class="option-content content-1">
        <aside id="result-1" ng-show="question.hasVoted" class="percentage">{{question.option_1_votes / totalVotes * 100 | number:0}}<small>%</small></aside>
        <h3 class="slide" ng-hide="question">Loading...</h3>
        <h3 class="slide" ng-show="question">{{question.option_1}}</h3>
    </div>
</div>
<div class="option-wrapper" ng-click="vote(question, 2)" slide-graph voted="{{question.hasVoted}}">
    <div class="option option-2"></div>
    <div class="option-content content-2">
        <aside id="result-2" ng-show="question.hasVoted" class="percentage">{{question.option_2_votes / totalVotes * 100 | number:0}}<small>%</small></aside>
        <h3 class="slide" ng-hide="question">Loading...</h3>
        <h3 class="slide">{{question.option_2}}</h3>
    </div>
</div>

<div class="control-buttons">
    <a class="button shake" ng-hide="nextQuestion">
        Loading next...
    </a>
    <a class="button shake" ng-show="nextQuestion" id="next-button" ng-href="/{{nextQuestion.url}}" self-refresh>
        {{nextQuestion ? "Answer another &#10152;" : "Loading next..."}}
    </a>
    <div class="add-link-mobile">
        <a class="button" href="/#/ask">Ask a question</a>
    </div>
</div>